*{
	padding: 0;
	margin: 0;
}

body{
	box-sizing: border-box;
	height: 2000px;
}
header{
	display: flex;
	flex-direction: column;
}
.cabecalho{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.inicio {
	background-color: blue;
}
.navegacao{
	display: flex;
	float: right;
	margin: 10px 30px auto;
	gap: 30px;
	background-color: white;
	max-width: 1200px;
}
.espaco{
	margin-top: 50px;
}
/*

Final aba index.html

*/

/*
			Inicio aba eventos.html
*/
.rodape{
	position: absolute;
	top: 300px;
}

.rodape{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lista-exercicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px 0px;
	min-width: calc(100vw - 100px);
}
.titulo-rodape{
	display: flex;
	padding-bottom: 50px;
}
.exercicio-ex1, .exercicio-ex2, .exercicio-ex3, .exercicio-ex4{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	border: 3px solid red;
	width: 250px;
	height: 200px;
}