*{
	padding: 0;
	margin: 0;
}

body{
	box-sizing: border-box;
	height: 2000px;
}
header{
	display: flex;
	flex-direction: column;
}
.cabecalho{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.inicio {
	background-color: blue;
}
.navegacao{
	display: flex;
	float: right;
	margin: 10px 30px auto;
	gap: 30px;
	background-color: white;
	max-width: 1200px;
}
.espaco{
	margin-top: 50px;
}
/*

Final aba index.html

*/

/*
			Inicio aba eventos.html
*/
.rodape{
	position: absolute;
	top: 300px;
}

.rodape{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lista-exercicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px 0px;
	min-width: calc(100vw - 100px);
}
.titulo-rodape{
	display: flex;
	padding-bottom: 50px;
}
.exercicio-ex1, .exercicio-ex2, .exercicio-ex3, .exercicio-ex4{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	border: 3px solid red;
	width: 250px;
	height: 200px;
}

/*

									Inicio event_1.html

*/


.container{
	background-color: #eee;
	border: 2px solid red;
	padding: 15px;
	max-width: 300px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*flex-wrap: wrap;*/
}

.item{
	background-color: #ccc;
	border: 2px solid blue;
	height: 50px;
	width: 50px;
}

.box{
	background-color: #ccc;
	border: 2px solid blue;
	height: 50px;

	/*
		hidth:  50px;
		Controlando o tamanho inicial do container, 
		desta forma não precisa declarar a width do
		elemento
	*/
	flex-basis: 10px;
}


/*
	flex-grow determina a proporção dos elementos
	referente ao tamanho maximo do conteiner e apontamos
	o valor da proporção, neste caso o box1 esta com o dobro do
	valor do box2,box3 

*/
#item-1{
	flex-grow: 2;
}

#item-2,
#item-3{
	flex-grow: 1;
}

#item-2{
	flex-basis: 100px;
	flex-shrink: 1;
}











